/*How to make rainbow shit 
    color: rgba(0, 0, 0, 0.13);
    background-color: rgb(68, 0, 255);
    background-clip: text;    
    -webkit-background-clip: text;
    animation: rainbow 10s linear infinite;

    @keyframes rainbow {
    0%, 100% {
        filter: hue-rotate(0deg);
    }
    50% {
        filter: hue-rotate(360deg);
    }
}
*/

:root {
    display: flex;
    justify-content: center;
    background-color: rgb(20, 20, 20);
    color: rgb(200, 200, 200);
    font-family: "Pangolin", sans-serif;
    --button-color: rgb(137, 137, 255);
    --button-hover: rgb(111, 212, 177);
    --link-color: rgb(93, 93, 255);
    --link-hover: rgb(93, 190, 156);
    --link-visited: rgb(137, 137, 255);
}

h1, h2, h3 {
    font-family: "Permanent Marker", sans-serif;
    display: flex;
    justify-content: center;
    font-size: 5.5vh;
}

.round-image > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    max-width: 100%;
    width: 180px;
    border-radius: 120px;
    border: 5px outset;
}



footer {
    display: flex;
    justify-content: center;
    border: 0.5px outset var(--button-color);
    margin-top: 40px;
    background-color: rgba(98, 99, 185, 0.144);
    border-radius: 100px;

}

/* Link Shit */

a:link {
    text-decoration: none;
    color: var(--link-color)
}

a:hover {
    color: var(--link-hover);
}

a:visited {
    color: var(--link-visited)
}


/* My Shit Buttons */

.button {
    display: flex;
    justify-content: center;
    border: 0.5px outset var(--button-color);
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.055);
    border-radius: 100px;
    height: 6vh;
    font-family: 'Permanent Marker';
    font-size: 4.0vh;
    padding: 6px;

}

.button:hover {

    border: 2px outset var(--link-hover);
    animation: scale 350ms ease forwards;
} 

/* Animations */

.fade-in-bottom {
	animation: fade-in-bottom 1.6s ease-out both;
}
 
@keyframes fade-in-bottom { 
    0% {
      transform: translateY(80px);
      filter: blur(15px) grayscale(100%);
      opacity: 0;     
    }
    100% {
      transform: translateY(0);   
      opacity: 1;
    }
  }

@keyframes scale {
    0% {
        transform: scale(1.0);
    }
    100% {
        transform: scale(1.110);
    }
}
